body {
    background-image: url('../img/backgroud.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 50px;
    color: #333;
    flex: 1;
}

.contact-info, .contact-form {
    background-color: #ffffff83;
    border-radius: 10px;
    padding: 40px 20px;
    width: 45%; /* Mantém o tamanho da tela conforme o original */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.titulo-contato{
    text-align: center;
    font-size: 2.5em;
    color: #1a1a1a;
    margin: 0;
    margin-bottom: 20px;
    padding: 10px 0;
    background: linear-gradient(90deg, #f0d436, #274688, #267696, #d81a1a);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.397);
    animation: gradient 6s linear infinite;
}

.contact-details h3, .contact-form h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #1a3d6d;
    font-weight: bold;
}

.contact-details p, .input-wrapper, #info-p{
    margin-bottom: 12px;
    font-size: 1.1em;
    line-height: 1.6;
    color: #111;
}

.input-wrapper label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-wrapper input, .input-wrapper textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 14px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

/* Estilos do Rodapé */
footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

/* Responsividade */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        padding: 20px;
    }

    .contact-info, .contact-form {
        width: 100%;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    .contact-info, .contact-form {
        padding: 15px;
    }

    button {
        padding: 12px 20px;
    }
}