.rodape {
  background-color: #2464a3;
  color: white;
  font-family: Arial, sans-serif;
  padding: 0px 0;
}

.rodape-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding:15px 40px;
  gap: 30px;
}

.rodape-coluna {
  flex: 1;
  min-width: 200px;
  text-align: center;
}

.rodape-coluna.frase p {
    text-align: left;
  font-size: 15px;
  line-height: 1.6;
  margin: 0;
}

.rodape-coluna.navegação {
    text-align: center;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.rodape-coluna.navegação {
  color: white;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 17px;

  margin-top: auto;
  margin-bottom: auto;
}

.rodape-coluna.navegação a:hover {
  color: #ffd600;
}

.redes-sociais {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  justify-content: center;
}

.redes-sociais img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.redes-sociais a:hover img {
  transform: scale(1.1);
}

.rodape-copy {
  border-top: 1px solid;
  width: 95%;
  margin: 2px auto 0;
  text-align: center;
  padding: 15px;
  background-color: #2464a3;
  font-size: 13px;
}

.rodape a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.rodape a:hover {
  color: #ffd600;
  text-decoration: underline;
}